<a href="signout">Sign Out</a>
</div>
</div>
<div class="col-container servlet">
  <div class="col-6">
  	<div class="picture">
  		<img class = "banner" src="static/images/node.jpg">
  	</div>
  </div>
</div>

<div class="body node">
  <div class = "node">
    <h2> What is Node? </h2>
    <p>Node js is a server environment that developed by Ryan Dahl on 2009. It runs on different platforms. It is a free and open source software provided for developers. Node js is a javascript-based that runs on V8 of javascript runtime environment. Node js executes a javascript and it provides different libraries and frameworks such as express, hapi, etc.</p>
    <h3>Features:</h3>
    <div class = "node">
      <ul>
        <li>Asynchronous and Event Driven</li>
        <li>Single Threaded but Highly Scalable - It can caters large request by providing services.</li>
        <li>Fast - Since it was built on V8 of javascript by chrome so the execution of the codes is faster.</li>
        <li>No Buffering - outputs the data in chunks</li>
      </ul>
    </div>
    <h3>Where to Use Node.js?</h3>
      <p>You can use nodes on creating the following areas:</p>
      <ul>
        <li>I/O bound application</li>
        <li>Single page application</li>
        <li>JSON API’s based application</li>
        <li>Real-time applications</li>
      </ul>
      <h3> What is Node.js file?</h3>
      <ul>
        <li>Node js has extension of <b>.js</b></li>
        <li>It contains a task that is called in a particylar event.</li>
      </ul>
      <h3> Node js Frameworks</h3>
      <ul>
        <li>Express.js</li>
        <li>Hapi.js</li>
        <li>Socket.io</li>
        <li>Mojito</li>
        <li>Meteor,etc.</li>
      <ul>
    </div>
    <h3>Node Package Manager (NPM)</h3>
    <div class = "node">
      <p>NPM is a package manager of node that we use to install node js packages, modules, and frameworks. Node  js is the one who is responsible for allowing users to write a code in a server. <br><br>To install npm, use this command: <b>npm install.</b> That To install a module, use this command: <b>npm install <name_of_module></b>. For example, “npm install express”. Once a module is installed, just use require() to use the module.
 </p>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mymodal">open quiz</button>
<div class="modal fade" id="mymodal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <form method="POST" action="getAnswers">
        {{#each questionArr }}
          <p>{{showid}}. {{content}}</p>
          {{#each options }}
            <input type="radio" name={{../name}} value={{code}} />{{code}}. {{option}}<br>
          {{/each}}
          <br>
        {{/each }}
        <hr>
        <button class="send">Send</button>
      </form>
      <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
    </div>
  </div>
</div>
{{#if remaining}}
  <script>
    alert("you need to answer " + {{remaining}} + " questions");
  </script>
{{/if}}
