<form method="POST">
  {{#each questionArr }}
    <p>{{showid}}. {{content}}</p>
    {{#each options }}
      <input type="radio" name={{../id}} id={{code}} />{{code}}. {{option}}<br>
    {{/each}}
    <br>
  {{/each }}
  <hr>
  <button>Send</button>
</form>
